
body {
    background-color: var(--bg-color);
    font-family: var(--font-text-title)!important;
    overflow-x: hidden;
}


/* barra de navegacion */

.navbar {
    font-family: 'Marcellus SC', serif;
    background: var(--color-tertiary);
}
.nav-link{
    color: var(--bg-color)!important;
    font-size: 1.15rem!important;
}
.nav-link:hover{
    color: var(--color-secondary)!important;
}
.nav-link:visited{
    color: var(--bg-color-card)!important;
    text-decoration:underline;
}
.nav-link:disabled{
    color: var(--bg-color)!important;
}

.logo{
    width: 5.3125rem;
    height: 5.3125rem;
    align-self: center;
}
.navbar-toggler{
    color: var(--bg-color)!important;
}
.navbar-toggler-icon{
    background-color: var(--bg-color)!important;
    border: 1px solid var(--bg-color)!important;
}

.btn {
    margin: 0 10px;
    background-color: var(--color-secondary)!important;
}
.btn a {    
    text-decoration: none;
    color: var(--bg-color)!important;
}
.btn:hover {
    background-color: var(--color-details)!important;
}

.nav-register {
    background-color: var(--color-secondary)!important;
    color: var(--bg-color);
    font-size: 1.15rem!important;
}

.nav-register:hover {
    color:var(--bg-color)!important;
    background-color: var(--color-details)!important;
} 

/* destacados */

.section-title h1 {
    font-size: 2em;
    font-weight: 600;
    padding: 1rem 0 0 3rem;
}

/* carrusel */

.slide-container {
    width:95vw;
    max-width: 990px;
}

.slide-content {
    margin: 1rem;
    overflow: hidden;
    border-radius: 1.56rem;
    padding-bottom:1rem;
}

.card {
    border-radius: 1.56rem !important;
    background-color: var(--bg-color-card)!important;
}

.image-content,
.card-content {
    padding: 10px 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-content {
    position: relative;
    row-gap: 5px;
    padding: 1.5rem 0;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--color-tertiary-light)!important;
    border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: var(--color-tertiary-light)!important;
}

.overlay::after {
    border-radius: 0 25px 0 0;
    background-color: var(--bg-color-card)!important;
}

.card-image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: var(--bg-color-card)!important;
    padding: 3px;
}

.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid var(--color-secondary);
}

.name-plant {
    font-size: 18px;
    font-weight: 600;
    color: var(--color-primary);
}

.description {
    font-size: 14px;
    color: var(--color-primary);
    text-align: center;
}

.button {
    border: none;
    font-size: 1rem;
    color: var(--color-primary);
    padding: 0.5rem 1rem;
    background-color: var(--color-secondary);
    border-radius: 6px;
    margin: 1rem;
    cursor: pointer;
    transition: all 0.3sec ease;
}

.button:hover {
    background: var(--color-tertiary-light);
    color: var(--color-primary);
}

.swiper-navBtn {
    color: var(--color-primary) !important;
    transition: color 0.3s ease;
}

.swiper-navBtn:hover {
    color: var(--color-tertiary);
}

.swiper-navBtn::before,
.swiper-navBtn::after {
    font-size: 1.5rem;
}

.swiper-button-next {
    right: 0;
}

.swiper-button-prev {
    left: 0;
}

.swiper-pagination-bullet {
    background-color: var(--color-tertiary-light) !important;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: var(--color-tertiary) !important;
}

/* subseccion caracteristicas */

.caract-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid var(--color-secondary);
    border-bottom: 1px solid var(--color-secondary);
    margin: 1rem 0;
    padding: 1rem 0;
}

.caracteristicas {
    display: flex;
    align-items: center;
    width: 27vw;
}

.img-caract {
    width: 40px;
    height: 40px;
}

.caract-title {
    padding: 0 10px;
}

.caract-content {
    font-size: 14px;
    text-align: left;
    padding: 0 10px;
}

/* footer */

.footer-container {
    display: flex;
    background-color: var(--color-tertiary);
    color: var(--bg-color-card);
    font-family: 'Marcellus SC', serif;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    padding: 10px;
    width: 100%;
    height: 25vh;
}
.footer-logo{
    width: 5.3125rem;
    height: 5.3125rem;
    align-self: center;
}
.footer-logo-container {
    display: flex;
    align-self: center;
    padding: 0 5px;
}
.footer-location{
    padding-top: 15px;
    text-wrap: wrap;
}
.footer-location p {
    margin: 2px;
    line-height: 13px!important;
}
.footer-location a {
    text-decoration: none;
    color: var(--color-secondary);
}
.footer-media-container{
    display:flex;
    flex-flow: column;
    align-items: center;
    padding: 0 30px;    
}
.footer-media {
    display: flex;
    justify-content:space-between;
    gap: 10px;
}
.footer-media img{
    width: 35px;
}
.footer-media .img-fb{
    width: 22px;
    height: 30px;
}
.footer-copyright-container {
    display: flex;
    align-items: center;
    line-height: 10px;
}
.footer-copyright-container p{
    text-wrap: wrap;
    padding-top: 10px;
    margin-bottom: 0px;
}

/* cortes responsivos */

@media screen and (max-width:576px ){
    .section-title h1 {
        font-size: 1.5em;
        text-align: center;
    }
    .caract-container {
        display:block;
    }
    .caracteristicas {
        text-wrap: wrap;
        width: 100%;
    }
    .caract-title{
        margin: 0 0 5px;
    }
    .caract-content {
        padding: 0 5px;
        margin: 0 5px 2px;
    }
    .footer-container {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: space-around;
        padding: 2px 2px 5px;
        width: 100%;
        height: 25vh;
    }
    .footer-logo{
        display: none;
    }
    .footer-location{
        font-size: 0.75rem;
        padding-bottom: 10px;
    }
    .footer-media-container{
        padding-left: 10px;
        padding-right: 10px;
        font-size: 0.8rem;
    }
    .footer-media {
        width: 20px;
        justify-content: center;
        gap: 0px;
    }
    .footer-media img{
        width: 28px;
    }
    .footer-media .img-fb{
        width: 15px;
    }
    
    .footer-copyright-container p{
        text-wrap: wrap;
        padding-top: 0px;
        font-size: 0.75rem;
    }
    .c-circle {
        width: 12px;
    }
}


